HTML {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.4; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.4; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A:link {
	COLOR: #00f; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #006; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f00
}
A:active {
	COLOR: #f00
}
UL {
	PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
LI {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.noSpace {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	EMPTY-CELLS: show
}
TD {
	LINE-HEIGHT: 1.4; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TH {
	LINE-HEIGHT: 1.4; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, Verdana, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 18px
}
H3 {
	FONT-SIZE: 14px
}
H1 A:link {
	TEXT-DECORATION: none
}
H2 A:link {
	TEXT-DECORATION: none
}
H3 A:link {
	TEXT-DECORATION: none
}
H1 A:visited {
	TEXT-DECORATION: none
}
H2 A:visited {
	TEXT-DECORATION: none
}
H3 A:visited {
	TEXT-DECORATION: none
}
H1 A:hover {
	TEXT-DECORATION: underline
}
H2 A:hover {
	TEXT-DECORATION: underline
}
H3 A:hover {
	TEXT-DECORATION: underline
}
H1 A:active {
	TEXT-DECORATION: underline
}
H2 A:active {
	TEXT-DECORATION: underline
}
H3 A:active {
	TEXT-DECORATION: underline
}
DIV.topBar {
	COLOR: #ffffff; FONT-SIZE: 11px
}
DIV.topBar DIV {
	COLOR: #ffffff; FONT-SIZE: 11px
}
DIV.memberCountBox {
	COLOR: #ffffff; FONT-SIZE: 11px
}
DIV.memberCountBox {
	Z-INDEX: 1; POSITION: absolute; TOP: 5px; LEFT: 3px
}
DIV.topBar {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; BACKGROUND: url(/i/interface/top_bg.gif) repeat-x center top; HEIGHT: 84px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#outerLogo {
	Z-INDEX: 2; POSITION: relative; WIDTH: 360px
}
#innerLogo {
	POSITION: absolute; LEFT: 0px
}
#shortcutBar {
	POSITION: absolute; PADDING-RIGHT: 30px; BACKGROUND: url(/i/interface/shortcutBar.png) no-repeat right top; HEIGHT: 30px; TOP: 32px; LEFT: 0px
}
#shortcutBar DIV.icon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN-LEFT: 4px
}
.small {
	FONT-SIZE: 10px
}
A.prevNext:link {
	COLOR: #00f; TEXT-DECORATION: none
}
A.prevNext:visited {
	COLOR: #006; TEXT-DECORATION: none
}
A.prevNext:hover {
	COLOR: #f00
}
A:active {
	COLOR: #f00
}
.footer {
	BORDER-BOTTOM: #cccccc 4px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 5px; FONT-STYLE: normal; WHITE-SPACE: nowrap; BACKGROUND: #eeeeee; COLOR: #666666; FONT-SIZE: 11px; FONT-WEIGHT: normal; PADDING-TOP: 5px
}
.footerStripe {
	BACKGROUND: #ccc
}
A.footerLinks:link {
	COLOR: #00f; TEXT-DECORATION: none
}
A.footerLinks:visited {
	COLOR: #006; TEXT-DECORATION: none
}
A.footerLinks:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.footerLinks:active {
	COLOR: #f00; TEXT-DECORATION: underline
}
.copyright {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; FONT-STYLE: normal; WHITE-SPACE: nowrap; BACKGROUND: #fff; COLOR: #000; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
TABLE.pageTitleTable {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 5px 0px 15px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TABLE.pageTitleTable TD.pageTitle {
	BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
TABLE.pageTitleTable TD.pageSubtitle {
	BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
DIV.linkBox {
	TEXT-ALIGN: left; PADDING-BOTTOM: 20px; LINE-HEIGHT: normal; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: right; FONT-SIZE: 11px; PADDING-TOP: 0px
}
DIV.linkBox A:link {
	TEXT-DECORATION: none
}
DIV.linkBox A:visited {
	TEXT-DECORATION: none
}
DIV.linkBox A:hover {
	TEXT-DECORATION: underline
}
DIV.linkBox A:active {
	TEXT-DECORATION: underline
}
.invisible {
	DISPLAY: none
}
DIV.authorPhoto {
	MARGIN: 0px 8px 10px 0px; FLOAT: left
}
DIV.authorPhoto IMG {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 55px; HEIGHT: 61px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
DIV.authorText {
	MARGIN: 12px 8px 10px 0px; FLOAT: left; HEIGHT: 49px
}
DIV.authorText EM {
	FONT-SIZE: 11px
}
DIV.popUp {
	Z-INDEX: 100; POSITION: absolute; MARGIN: 0px; DISPLAY: none; TOP: 0px; LEFT: 0px
}
DIV.popUp DIV {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BACKGROUND: #ffffcc; FLOAT: left; FONT-SIZE: 11px; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 4px
}
.bodyText {
	FONT-STYLE: normal; COLOR: #333333; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
SPAN.title {
	FONT-SIZE: 160%; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
SPAN.subtitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
SPAN.bodySubtitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bigRed {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.bigRed:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bigRed:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.bigGreen {
	COLOR: #009900; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.bigGreen:link {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:visited {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:active {
	COLOR: #009900; TEXT-DECORATION: underline
}
A.bigGreen:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.grayedOut {
	COLOR: #999999
}
A.grayedOut:link {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.grayedOut:visited {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.grayedOut:active {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.grayedOut:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TD.bodyColumn {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
DIV.fixedWidthBody {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 510px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.fixedWidth700Body {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 700px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.maxWidthBody {
	; WIDTH: expression( document . body . clientWidth > 1024 ? "650px": "auto" ); MAX-WIDTH: 650px
}
DIV.sectionHeader {
	BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 10px; BACKGROUND: url(/i/stats/headerBG.gif) #999999 center top; FONT-SIZE: 12px; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
DIV.bodyIndented {
	PADDING-LEFT: 15px
}
A.button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; WHITE-SPACE: nowrap; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
DIV.button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; WHITE-SPACE: nowrap; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px
}
A.button:link {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; COLOR: #333333; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.button:visited {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; COLOR: #333333; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.button:hover {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; COLOR: #ffffff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.button:active {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; COLOR: #ffffff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
DIV.button {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND: url(/i/interface/buttonBg_off.png) #eeeeee center top; COLOR: #bbbbbb; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
A.bigButton {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; WHITE-SPACE: nowrap; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
DIV.bigButton {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: block; WHITE-SPACE: nowrap; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 4px
}
A.bigButton:link {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; COLOR: #333333; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:visited {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg.png) #d2d2d2 center top; COLOR: #333333; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:hover {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; COLOR: #ffffff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
A.bigButton:active {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND: url(/i/interface/buttonBg_on.png) #6a6a6a center top; COLOR: #ffffff; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; TEXT-DECORATION: none
}
DIV.bigButton {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND: url(/i/interface/buttonBg_off.png) #eeeeee center top; COLOR: #bbbbbb; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; TEXT-DECORATION: none
}
SPAN.selected {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #efefef; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
TABLE.stat {
	BORDER-BOTTOM: #cccccc 7px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 0px
}
TABLE.stat TD {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: normal; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 2px
}
TABLE.stat TH {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: normal; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 2px
}
TABLE.stat TH.title {
	BACKGROUND-IMAGE: url(/i/stats/headerBG.gif); BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #999999; WHITE-SPACE: nowrap; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TABLE.stat TD.title {
	BACKGROUND-IMAGE: url(/i/stats/headerBG.gif); BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: left; BACKGROUND-COLOR: #999999; WHITE-SPACE: nowrap; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TABLE.stat TH {
	BACKGROUND-COLOR: #e5e5e5; COLOR: #000000; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
TABLE.stat TD.header {
	BACKGROUND-COLOR: #e5e5e5; COLOR: #000000; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
TABLE.stat TD.headerC {
	BACKGROUND-COLOR: #e5e5e5; COLOR: #000000; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
TABLE.stat TD.headerR {
	BACKGROUND-COLOR: #e5e5e5; COLOR: #000000; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
TABLE.stat TR.light TD {
	BACKGROUND-COLOR: #f5f5f5
}
TABLE.stat TR.dark TD {
	BACKGROUND-COLOR: #efefef
}
TABLE.stat TD.value {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-TOP: #ffffff 1px solid
}
TABLE.stat TD.valueC {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-TOP: #ffffff 1px solid
}
TABLE.stat TD.valueR {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-TOP: #ffffff 1px solid
}
TABLE.stat TD.field {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-TOP: #ffffff 1px solid
}
TABLE.stat TD.headerC {
	TEXT-ALIGN: center
}
TABLE.stat TD.valueC {
	TEXT-ALIGN: center
}
TABLE.stat TD.headerR {
	TEXT-ALIGN: right
}
TABLE.stat TD.valueR {
	TEXT-ALIGN: right
}
TABLE.stat TD.field {
	COLOR: #000000; FONT-WEIGHT: bold
}
TABLE.stat A:link {
	TEXT-DECORATION: none
}
TABLE.stat A:visited {
	TEXT-DECORATION: none
}
TABLE.stat A:hover {
	TEXT-DECORATION: underline
}
TABLE.stat A:active {
	TEXT-DECORATION: underline
}
TABLE.stat TR.highlight TD {
	BORDER-BOTTOM: #0000ff 1px solid; BACKGROUND-COLOR: #eeeeff; BORDER-TOP: #0000ff 1px solid; FONT-WEIGHT: bold
}
TABLE.stat TD.B {
	BORDER-RIGHT: #999999 1px solid
}
TABLE.stat TD.M {
	VERTICAL-ALIGN: middle
}
TABLE.stat TD.NW {
	WHITE-SPACE: nowrap
}
TABLE.stat TBODY.show {
	DISPLAY: table-row-group
}
TABLE.stat TBODY.hide {
	DISPLAY: none
}
#navbar {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 185px; PADDING-RIGHT: 0px; BACKGROUND: url(/i/interface/leftnav_bg.gif) #353e44 repeat-y right center; FLOAT: left; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
DIV.leftColContent {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 185px; PADDING-RIGHT: 0px; BACKGROUND: url(/i/interface/leftnav_bg.gif) #353e44 repeat-y right center; FLOAT: left; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#navbar UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#navbar UL LI.title {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 4px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#navbar UL LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 182px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-TOP: 0px
}
#navbar UL LI UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
#navbar UL.OPEN {
	PADDING-BOTTOM: 8px; DISPLAY: block
}
#navbar UL.CLOSED {
	PADDING-BOTTOM: 0px; DISPLAY: none
}
#navbar LI.highlight A:link {
	BACKGROUND-COLOR: #990000; COLOR: #ffffff
}
#navbar LI.highlight A:visited {
	BACKGROUND-COLOR: #990000; COLOR: #ffffff
}
#navbar LI.highlight A:hover {
	BACKGROUND-COLOR: #990000; COLOR: #ffffff
}
#navbar LI.exp LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI A:active #navbar LI.exp LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp LI LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI LI A:link {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI LI A:visited {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI LI A:hover {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp_ed LI LI LI LI A:active {
	BACKGROUND-IMAGE: none
}
#navbar LI.exp A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI.exp A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI.exp A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI.exp A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI.exp A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI.exp A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI LI.exp A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI LI.exp A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI LI LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI LI LI LI.exp A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_w.gif)
}
#navbar LI.exp_ed A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI.exp_ed A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI.exp_ed A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI.exp_ed A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI.exp_ed A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI.exp_ed A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI LI.exp_ed A:link {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI LI LI LI.exp_ed A:visited {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 1px 50%
}
#navbar LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI LI LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI LI LI LI.exp_ed A:hover {
	BACKGROUND-IMAGE: url(/i/interface/exp_ed_w.gif)
}
#navbar LI A:link {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 100%; MARGIN: 0px 15px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #ffcc33; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#navbar LI A:visited {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 100%; MARGIN: 0px 15px 0px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #ffcc33; FONT-SIZE: 12px; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#navbar LI LI A:link {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #dddddd; FONT-SIZE: 12px; PADDING-TOP: 5px
}
#navbar LI LI A:visited {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #dddddd; FONT-SIZE: 12px; PADDING-TOP: 5px
}
#navbar LI LI LI A:link {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 12px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #bbbbbb; FONT-SIZE: 11px; PADDING-TOP: 5px
}
#navbar LI LI LI A:visited {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 12px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #bbbbbb; FONT-SIZE: 11px; PADDING-TOP: 5px
}
#navbar LI LI LI LI A:link {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #999999; FONT-SIZE: 11px; PADDING-TOP: 5px
}
#navbar LI LI LI LI A:visited {
	PADDING-BOTTOM: 5px; MARGIN: 0px 15px 0px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #999999; FONT-SIZE: 11px; PADDING-TOP: 5px
}
#navbar LI LI LI LI LI A:link {
	MARGIN: 0px 15px 0px 27px; COLOR: #999999; FONT-SIZE: 11px
}
#navbar LI LI LI LI LI A:visited {
	MARGIN: 0px 15px 0px 27px; COLOR: #999999; FONT-SIZE: 11px
}
#navbar LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
#navbar LI LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
#navbar LI LI LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
#navbar LI LI LI LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
#navbar LI LI LI LI LI A:hover {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
#navbarSearch {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; COLOR: #ffffff; CLEAR: left; PADDING-TOP: 5px
}
A.gMetal:link {
	COLOR: #ffcc33; TEXT-DECORATION: none
}
A.gMetal:visited {
	COLOR: #cc9933; TEXT-DECORATION: none
}
A.gMetal:hover {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
A.gMetal:active {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
DIV.leftColContent {
	COLOR: #ffffff
}
DIV.leftColContent TD {
	COLOR: #ffffff
}
DIV.rightColContent {
	WIDTH: 170px
}
.problemText {
	FONT-FAMILY: Courier, Courier New, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.bc {
	FONT-STYLE: normal; COLOR: #333333; FONT-SIZE: 11px
}
A.bcLink:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bcLink:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.bcLink:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.bcLink:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
